[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = "*"
prefect-airbyte = "*"
prefect-gcp = {extras = ["secret_manager"], version = "*"}
msal = "*"
sqlalchemy = "*"
pandas = "*"
requests = "*"
google-cloud-bigquery = {extras = ["pandas"], version = "*"}
pyodbc = "*"
numpy = "*"
lifetimes = "*"
xgboost = "*"
scikit-learn = "*"
statsmodels = "*"
pygsheets = "*"
tqdm = "*"

[dev-packages]
flake8 = "*"
bandit = "*"
mypy = "*"
black = "*"
isort = "*"
ipython = "*"
pre-commit = "*"
ipykernel = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
